

//------------------------------------------------------------------
// parameters:
// 
//   $border-width: must match the value as set in $v-border
//   $widget-height: height of the widget including borders
//   $widget-width: width of the widget including borders
//   $widget-border-width: 
//------------------------------------------------------------------
@mixin switch-dom-style($border-width: 1px, $widget-height: round($v-unit-size / 2), $widget-width: $v-unit-size, $widget-border-width: 1px) {
  
    $widget-border-radius: round($widget-height / 2);
    
    $knob-border-width: $border-width;
    $slider-height: $widget-height - 2 * $widget-border-width;
    $knob-inner-height: $slider-height - 2 * $knob-border-width;
    
    $knob-border-width: $border-width;
    $slider-width: round($widget-width - 2 * $widget-border-width - $slider-height / 2) * 2;
    $knob-border-radius: round($knob-height / 2);
    $knob-left: round(($slider-width - $slider-height) / 2);
    
    .v-switch-dom {
        height: $widget-height;
        width: $widget-width;
        border: valo-border($border: $v-border, $color: $v-background-color, $strength: 0.7);
        border-radius: $v-border-radius;
        @include box-shadow(valo-bevel-and-shadow($bevel: $v-bevel, $shadow: $v-shadow, $background-color: $v-background-color, $gradient: $v-gradient));
        
        .v-switch-slider {
            height: $slider-height; 
            width: $slider-width;
            background: none;
        }
        
        .v-switch-on-plate, .v-switch-off-plate {
            position: absolute;
            top: 0px;
            left: 0px;
            height: inherit;
            width: round($slider-width / 2);
            background-color: $v-focus-color;
        }
        
        .v-switch-off-plate {
            left: round($slider-width / 2);
            background-color: $v-textfield-background-color;
        }
        
        .v-switch-knob {
            position: absolute;
            top: 0px;
            left: $knob-left;
            height: $slider-height;
            width: $slider-height;
            background-color: $v-background-color;
            border: valo-border($border: $v-border, $color: $v-background-color, $strength: 0.7);
            border-radius: $knob-border-radius;
        }
    }
}

@include switch-dom-style();